In [1]:
import os
import numpy
import pandas as pd
import string
import re
import emoji
import nltk
nltk.download("stopwords")
os.chdir("C:\\Users\\1809s\\OneDrive\\Desktop\\British Airways")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\1809s\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
df=pd.read_csv("British AirwaysDataCollection.csv")

In [3]:
df

,Unnamed: 0,reviews,reviewer_country,review_date,review_rating
0,0,✅ Trip Verified | I fly British Airways weekl...,United Kingdom,22nd September 2023,1.0
1,1,Not Verified | Everything was ok until our co...,France,20th September 2023,1.0
2,2,Not Verified | My initial flight was cancelle...,Germany,20th September 2023,1.0
3,3,Not Verified | We will never fly British Airw...,Switzerland,19th September 2023,1.0
4,4,✅ Trip Verified | Check in and security cleara...,United Kingdom,18th September 2023,6.0
...,...,...,...,...,...
3650,3650,LHR-JFK-LAX-LHR. Check in was ok apart from be...,United Kingdom,29th August 2012,4.0
3651,3651,LHR to HAM. Purser addresses all club passenge...,United Kingdom,28th August 2012,9.0
3652,3652,My son who had worked for British Airways urge...,United Kingdom,12th October 2011,5.0
3653,3653,London City-New York JFK via Shannon on A318 b...,United States,11th October 2011,4.0
3654,3654,SIN-LHR BA12 B747-436 First Class. Old aircraf...,United Kingdom,9th October 2011,4.0

In [4]:
df["verified"]=df.reviews.str.contains("Trip Verified")

In [5]:
df['review_date'] = df['review_date'].astype('datetime64[ns]')

In [6]:
df.head()

,Unnamed: 0,reviews,reviewer_country,review_date,review_rating,verified
0,0,✅ Trip Verified | I fly British Airways weekl...,United Kingdom,2023-09-22,1.0,True
1,1,Not Verified | Everything was ok until our co...,France,2023-09-20,1.0,False
2,2,Not Verified | My initial flight was cancelle...,Germany,2023-09-20,1.0,False
3,3,Not Verified | We will never fly British Airw...,Switzerland,2023-09-19,1.0,False
4,4,✅ Trip Verified | Check in and security cleara...,United Kingdom,2023-09-18,6.0,True

# Cleaning out the reviews column

In [7]:
cleaned_reviews= df["reviews"].str.replace("✅","")
cleaned_reviews

0        Trip Verified |  I fly British Airways weekly...
1       Not Verified |  Everything was ok until our co...
2       Not Verified |  My initial flight was cancelle...
3       Not Verified |  We will never fly British Airw...
4        Trip Verified | Check in and security clearan...
                              ...
3650    LHR-JFK-LAX-LHR. Check in was ok apart from be...
3651    LHR to HAM. Purser addresses all club passenge...
3652    My son who had worked for British Airways urge...
3653    London City-New York JFK via Shannon on A318 b...
3654    SIN-LHR BA12 B747-436 First Class. Old aircraf...
Name: reviews, Length: 3655, dtype: object

In [8]:
cleaned_reviews=cleaned_reviews.str.replace("Not Verified |","")
cleaned_reviews

C:\Users\1809s\AppData\Local\Temp\ipykernel_12968\591446526.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  cleaned_reviews=cleaned_reviews.str.replace("Not Verified |","")

0        Trip Verified |  I fly British Airways weekly...
1       |  Everything was ok until our connecting flig...
2       |  My initial flight was cancelled 8 hours pri...
3       |  We will never fly British Airways again. Ou...
4        Trip Verified | Check in and security clearan...
                              ...
3650    LHR-JFK-LAX-LHR. Check in was ok apart from be...
3651    LHR to HAM. Purser addresses all club passenge...
3652    My son who had worked for British Airways urge...
3653    London City-New York JFK via Shannon on A318 b...
3654    SIN-LHR BA12 B747-436 First Class. Old aircraf...
Name: reviews, Length: 3655, dtype: object

In [9]:
cleaned_reviews=cleaned_reviews.str.replace("Trip Verified |","")
cleaned_reviews

C:\Users\1809s\AppData\Local\Temp\ipykernel_12968\1401212806.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  cleaned_reviews=cleaned_reviews.str.replace("Trip Verified |","")

0        |  I fly British Airways weekly not because I...
1       |  Everything was ok until our connecting flig...
2       |  My initial flight was cancelled 8 hours pri...
3       |  We will never fly British Airways again. Ou...
4        | Check in and security clearance very quick ...
                              ...
3650    LHR-JFK-LAX-LHR. Check in was ok apart from be...
3651    LHR to HAM. Purser addresses all club passenge...
3652    My son who had worked for British Airways urge...
3653    London City-New York JFK via Shannon on A318 b...
3654    SIN-LHR BA12 B747-436 First Class. Old aircraf...
Name: reviews, Length: 3655, dtype: object

In [10]:
df["reviews"]=cleaned_reviews
df["reviews"].head()

0     |  I fly British Airways weekly not because I...
1    |  Everything was ok until our connecting flig...
2    |  My initial flight was cancelled 8 hours pri...
3    |  We will never fly British Airways again. Ou...
4     | Check in and security clearance very quick ...
Name: reviews, dtype: object

In [13]:
from nltk.tokenize import word_tokenize
nltk.download('punkt')
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

def cleaning(text):
    text = text.lower()  # Converting to lower case
    text = re.sub(r"https?://\S+|www\.\S+", "", text)  # Remove URLs from the text
    translation = str.maketrans("", "", string.punctuation)  # Removed punctuations
    text = text.translate(translation)
    text = emoji.demojize(text)  # Removes any emojis present in text to text format
    words = word_tokenize(text)  # Tokenization
    words = [word for word in words if word not in stop_words]  # Stop words removal
    lemmatized_text = ' '.join([lemmatizer.lemmatize(word) for word in words])  # Lemmatization after tokenization
    return lemmatized_text

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\1809s\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [14]:
df["reviews"]=df["reviews"].apply(cleaning)

In [15]:
df["reviews"]

0       fly british airway weekly want route ’ option ...
1       everything ok connecting flight london take ru...
2       initial flight cancelled 8 hour prior flight a...
3       never fly british airway flight july 15 2023 l...
4       check security clearance quick lhr t5 wife use...
                              ...
3650    lhrjfklaxlhr check ok apart snapped early chec...
3651    lhr ham purser address club passenger name boa...
3652    son worked british airway urged fly british ai...
3653    london citynew york jfk via shannon a318 reall...
3654    sinlhr ba12 b747436 first class old aircraft 1...
Name: reviews, Length: 3655, dtype: object

In [16]:
df.head()

,Unnamed: 0,reviews,reviewer_country,review_date,review_rating,verified
0,0,fly british airway weekly want route ’ option ...,United Kingdom,2023-09-22,1.0,True
1,1,everything ok connecting flight london take ru...,France,2023-09-20,1.0,False
2,2,initial flight cancelled 8 hour prior flight a...,Germany,2023-09-20,1.0,False
3,3,never fly british airway flight july 15 2023 l...,Switzerland,2023-09-19,1.0,False
4,4,check security clearance quick lhr t5 wife use...,United Kingdom,2023-09-18,6.0,True

In [17]:
df.isnull().value_counts()

Unnamed: 0  reviews  reviewer_country  review_date  review_rating  verified
False       False    False             False        False          False       3648
                                                    True           False          5
                     True              False        False          False          2
dtype: int64

In [18]:
df.dropna(axis=0,how="any")

,Unnamed: 0,reviews,reviewer_country,review_date,review_rating,verified
0,0,fly british airway weekly want route ’ option ...,United Kingdom,2023-09-22,1.0,True
1,1,everything ok connecting flight london take ru...,France,2023-09-20,1.0,False
2,2,initial flight cancelled 8 hour prior flight a...,Germany,2023-09-20,1.0,False
3,3,never fly british airway flight july 15 2023 l...,Switzerland,2023-09-19,1.0,False
4,4,check security clearance quick lhr t5 wife use...,United Kingdom,2023-09-18,6.0,True
...,...,...,...,...,...,...
3650,3650,lhrjfklaxlhr check ok apart snapped early chec...,United Kingdom,2012-08-29,4.0,False
3651,3651,lhr ham purser address club passenger name boa...,United Kingdom,2012-08-28,9.0,False
3652,3652,son worked british airway urged fly british ai...,United Kingdom,2011-10-12,5.0,False
3653,3653,london citynew york jfk via shannon a318 reall...,United States,2011-10-11,4.0,False
3654,3654,sinlhr ba12 b747436 first class old aircraft 1...,United Kingdom,2011-10-09,4.0,False

In [19]:
type(df["reviews"])

pandas.core.series.Series

In [20]:
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\1809s\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [21]:
df["reviews"].head()

0    fly british airway weekly want route ’ option ...
1    everything ok connecting flight london take ru...
2    initial flight cancelled 8 hour prior flight a...
3    never fly british airway flight july 15 2023 l...
4    check security clearance quick lhr t5 wife use...
Name: reviews, dtype: object

In [22]:
df.to_csv(os.getcwd() + "Cleaned.csv")